[submodule "microcosm"]
	path = microcosm
	url = https://github.com/birdbrainswagtrain/microcosm/
[submodule "garrysmod-chestburster"]
	path = garrysmod-chestburster
	url = https://github.com/Demonkush/garrysmod-chestburster
[submodule "Sacrifun"]
	path = Sacrifun
	url = https://github.com/Zet0rz/Sacrifun
[submodule "assassins"]
	path = assassins
	url = https://github.com/Luabee/assassins
[submodule "Infestation"]
	path = Infestation
	url = https://github.com/MrBootsHD/Infestation
